/*
*
*/
:root {
    --font-color-important: #002DFF ;
    --background-dashboard-edit: #F4F4F4 ;
}
body, html {
    font-size: 18px ;
}
/*  */
header {
    padding: 0 !important ;
    margin:  0 !important ;
    height:  70px !important ;
    line-height: 70px !important ;
    background-color: #fff !important ;
    position: fixed ;
    z-index: 9990 ;
    width: 100% ;
}
header .logo {
    width: 200px ;
    height: auto ;
    display: block ;
    margin-left: 40px ;
    margin-top: 0px;
}
header .logo > img {
    width: 100% ;
    height: auto ;
}
header ul.ant-menu {
    width: 100% !important ;
    z-index: 9991 !important ;
    line-height: 70px !important ;
    height: 70px !important ;
    font-size: 22px !important ;
}
header li.ant-menu-item {
    height: 100% ;
}
header li.ant-menu-item a, .waiboc-header-submenu li.ant-menu-item a {
    color: var(--font-color-important) !important ;
    display: block ;
    width: 100% ;
    height: 100% ;
    font-size: 22px ;
    font-weight: 600 ;
}
header li.ant-menu-item i, .waiboc-header-submenu li.ant-menu-item i {
    font-size: 20px !important ;
    color: green !important ;
    font-weight: 600 !important ;
}
header li.ant-menu-item a:hover {
    text-decoration: none !important ;
    border-bottom: none !important ;
}
header ul.ant-menu {
    background-color: transparent !important ;
}
.waiboc-icon {
    font-size: 20px ;
    padding-left: 5px ;
    padding-right: 5px ;
}
.waiboc-sys-icon {
    height: 30px ;
    line-height: 30px ;
    vertical-align: middle ;
    padding: 3px 3px 3px 3px ;
    color: #002DFF ;
}
#idAbout {
    background-color: var(--background-dashboard-edit) ;
}
.waiboc-header-submenu {
    font-weight: 600 !important ;
    font-size: 22px !important ;
    margin: 0 !important ;
    padding: 0 !important ;
    z-index: 9992 !important ;
}
.waiboc-header-submenu ul {
    min-height: 150px !important ;
}
.waiboc-home-row-actions {
    line-height: 80px ;
    padding-top: 20px ;
    display: inline-block ;
}
.waiboc-home-row-actions .waiboc-btn-action {
    width: 250px ;
    background-color: transparent ;
    border-width: 0px ;
    box-shadow: none ;
    text-align: center ;
    font-size: 22px ;
    font-weight: 600 ;
    line-height: 26px ;
    padding: 5px 5px 5px 5px ;
    color: var(--font-color-important) ;
    display: inline-block ;
    position: relative ;
    float: left ;
}
.waiboc-home-row-actions .waiboc-btn-action span {
    width: 100% ;
}
.waiboc-home-row-actions .waiboc-btn-action span:hover {
    text-decoration: underline ;
}
.waiboc-home-whyus {
    min-height: 100vh ;
    padding-top:  5px ;
    background: rgb(204,210,240);
    background: linear-gradient(0deg, rgba(204,210,240,1) 4%, rgba(131,151,244,1) 100%);
}
.waiboc-home-whyus h1.ant-typography {
    color: white ;
    font-size: 45px ;
    line-height: 49px ;
}
.waiboc-home-whyus h3.ant-typography {
    font-size: 28px ;
    line-height: 32px ;
}
.waiboc-home-whyus .sub-title {
    font-size: 28px ;
    line-height: 32px ;
}
.waiboc-home-whyus .line-detail {
    font-size: 20px ;
    line-height: 24px ;
}
.waiboc-home-prices {
    min-height: 100vh ;
    padding-top: 5px ;
    background-color: yellow ;
    overflow: hidden ;
    background: rgb(218,236,248);
    background: linear-gradient(2deg, rgba(218,236,248,1) 22%, rgba(241,244,241,1) 82%, rgba(204,210,240,1) 95%);
}
.waiboc-home-prices .plan-price {
    font-size: 40px ;
    /* line-height: 70px ; */
    font-weight: 400 ;
    text-align: center ;
}
.waiboc-home-contact {
    min-height: 100vh ;
    padding-top: 30px ;
    background: rgb(218,236,248);
    background: linear-gradient(2deg, rgba(218,236,248,1) 9%, rgba(236,249,236,1) 82%, rgba(218,236,248,1) 95%);
}
.waiboc-home-contact h2 {
    font-size: 30px ;
    line-height: 45px ;
    text-decoration: underline ;
    width: 100% ;
    display: block ;
    text-align: center ;
}
/*   */
.ant-menu-item > a, .ant-menu-item > span {
    font-size: 20px !important ;
    font-weight: 600 !important ;
}
.ant-menu-item > a i {
    font-size: 22px !important ;
    color: #1ab038 !important ;
    font-weight: 600 !important ;
}
/*  */
.shadow-below {
    margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	   -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.btn-shadow-login {
    transition: all 1s;
}
.btn-shadow-login:hover {
    margin-bottom:10px;
	-webkit-box-shadow: 0 8px 8px -2px black;
	   -moz-box-shadow: 0 8px 8px -2px black;
	        box-shadow: 0 8px 8px -2px black;
}
/*  */
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.waiboc-drawer .ant-drawer-close i {
    font-size: 20px ;
    font-weight: 600 ;
}
.waiboc-drawer .ant-drawer-close {
    border: 0.5px dotted gray ;
    border-radius: 20px ;
    height: 30px ;
    width: 30px ;
    line-height: 30px ;
    padding: 1px 1px 1px 1px ;
    transition: box-shadow 0.6s ;
    top: 10px ;
    right: 10px ;
}
.waiboc-drawer .ant-drawer-close:hover {
    box-shadow: 0 0 5px #515151 ;
}
.waiboc-intent-step {
    font-weight: 600 ;
    font-size: 20px ;
}
.waiboc-intent-step.with-link {
    cursor: pointer ;
}
.waiboc-intent-step.with-link:hover {
    text-decoration: underline ;
}
/*   */
.whatsapp-icon {
    position: fixed ;
    bottom: 10% ;
    right: 3% ;
    z-index: 9999 ;
}
.whatsapp-icon i svg {
    width: 60px !important ;
    height: auto !important ;
    color: #83B838 !important;

}
.whatsapp-icon img {
    width: 90px !important ;
    height: auto !important ;
}
.whatsapp-icon img:hover, .whatsapp-icon i svg:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer ;
}
@media (max-width: 700px) {
    .whatsapp-icon { bottom: 18% ; }
    .whatsapp-icon i svg {
        width: 40px !important ;
        height: auto !important ;
    }
}
/*  */
#main .ant-carousel .slick-slide {
    background-color: inherit ;
}
/*  */
.a-no-hover:hover {
    text-decoration: none !important ;
    border-bottom: none !important ;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected > .li-no-hover:hover {
    text-decoration: none !important ;
}
.ant-menu-horizontal > li.ant-menu-item .no-hover:hover {
    border-bottom: none !important ;
}
.waiboc-cl-form .ant-table-thead > tr {
    padding-top: 2px ;
    padding-bottom: 2px ;
    height: 20px ;
}
/*
.waiboc-cl-form .ant-table-thead > tr .ant-table-header-column {
    width: 100% ;
    text-align: center ;
}
.waiboc-cl-form .ant-table-thead > tr .ant-table-header-column .ant-table-column-sorters {
    width: 100% ;
    text-align: center ;
}
*/
.waiboc-cl-form  .ant-table-column-title {
    font-size: 16px ;
    line-height: 20px ;
    font-weight: 600 !important ;
}
.ant-popover, .ant-modal-wrap, .ant-tooltip {
    z-index: 9993 !important ;
}
a:hover {
    text-decoration: none ;
    border-bottom: 0.5px dotted grey ;
}
/*  */
.btn-link {
    color: rgba(0, 0, 0, 0.85) !important ;
}
.btn-link:hover {
    text-decoration: none ;
    border-bottom: 1px dotted gray !important ;
}
/*  */
#idCuerpoDistribuidores div.banner-anim-arrow.banner-anim-arrow-default {
    display: none !important ;
}
/*  */
#idContainer404 {
    padding: 0 ;
    color: white ;
}
#idContainer404 img {
    width: 100% !important ;
}
#idContainer404 span.mensaje {
    background: rgba(204, 204, 204, 0.6) none repeat scroll 0% 0%;
    font-family: "Poppins", sans-serif ;
    text-align: center ;
    color: black ;
    left: 0;
    top: 45%;
    font-size: 48px ;
    position: absolute ;
    font-weight: bold ;
    width: 100% !important;
}
@media (max-width: 700px) {
    #idContainer404 img          { margin-top: 35%;}
    #idContainer404 span.mensaje {font-size: 24px;}
}
.sli    ck-active button{
    background: red;
  }
/*  Suscripcion a novedades */
#idNewsletter {
    /* background: #f7f7f7; */
    background: #fff;
    padding: 0 ;
    min-height: 100% ;
}
#idNewsletter #idSuscripcion {
    min-height: 80vh ;
}
/*
#idNewsletter #idSuscripcion form {
    background: #f7f7f7;
    padding: 35px 15px 15px 15px ;
    border: 1px solid grey ;
}
*/
/*
div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
}
*/
.bg-login {
    background-color: yellow ;
    width: 100% !important ;
    height: 100% !important ;
    overflow: hidden ;
    background:
        linear-gradient(to bottom right,transparent 55.8%,#EBF2FE 50%) top /100% 120%,
        linear-gradient(to top right,transparent 15%,#EBF2FE 15%) bottom/110% 72% ;
    background-repeat: repeat, repeat, repeat ;
    background-repeat: no-repeat ;
}
/*  */
.box-plan {
    width: 80% ;
    border: 1px solid grey ;
    transition: box-shadow 0.5s;
    margin-top: 10px ;
}
.box-plan:hover {
    cursor: pointer ;
    -webkit-box-shadow: 0 18px 12px 12px black;
	   -moz-box-shadow: 0 18px 12px 12px black;
            box-shadow: 0 18px 12px 12px black;
}
/*  */
.box-plan div.ant-row {
    width: 100% ;
    border: 0.5px solid grey ;
    height: 60px ;
    text-align: left ;
    padding-left: 10px ;
}
/*
.box-plan i {
    padding-left: 15% ;
    font-weight: 800 ;
    color: green ;
}
.box-plan span {
    padding-left: 10px ;
    font-size: 24px ;
}
*/
.box-plan .plan-wrapper-description {
    height: 100% ;
    line-height: 100% ;
    vertical-align: center ;

}
.box-plan .box-plan-item-important {
    padding-left: 0 ;
    font-weight: 900 ;
    width: 100% ;
    text-align: center !important ;
    font-size: 34px ;
    line-height: 60px ;
}
.box-plan .waiboc-icon-plan {
    font-size: 20px ;
    line-height: 100% ;
    vertical-align: middle ;
    color: #1ab038 ;
    font-weight: 600 ;
}
.box-plan .waiboc-icon-plan.no-support {
    color: red ;
    font-weight: 600 ;
}
.box-plan .waiboc-plan-description {
    padding-left: 10px ;
    display: inline-block ;
    height: 100% ;
    line-height: 70px ;
    vertical-align: center ;
}
/*  Login */
.img-login-oauth {
    border-radius: 25px ;
    transition: all 1s;
    border: 0.2px dotted grey !important ;
    width: 180px ;
    height: 160px  ;
    transition: all 0.5s;
}
.img-login-oauth:hover {
    width: 200px !important ;
    height: 180px !important ;
    border: 0.5px solid grey !important ;
}
@media screen and (max-width: 700px) and (min-width: 10px) {
    .img-login-oauth {
        width: 130px ;
        height: 120px ;
    }
    .img-login-oauth:hover {
        width: 150px !important ;
        height: 140px !important ;
    }
}
/*  */
@media(min-width: 700px){
    #idNewsletter #idSuscripcion form {
        min-height: 70vh ;
    }
}
/* */
.sans-serif {
    color: #666666 !important;
    font-family: "Open Sans", sans-serif !important;
}
#id404gif {
    width: 100% ;
    text-align: center ;
    align-content: center ;
}
#id404gif div.center2img {
    display: flex ;
    justify-content: center;
    align-items: center;
}
#id404gif img {
    height: 498px;
    width: 480px;
    position: relative ;
}
#id404gif img.center {
    display: block;
    margin: 0 auto;
}
#id404gif p {
    text-align: center ;
    font-size: 40px ;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration-line: none ;
    /* text-transform: uppercase; */
}
#id404gif p span {
    position: relative ;
}
/* */
body {
    background-color: cadetblue ;
}
#mainCarrousel {
    position: relative;
    margin: 0 auto;
    width: 58%;
}
#mainCarrousel div.gfg {
    display: block;
    width:auto;
    text-align:center;
    padding:20px;
    text-align: center ;
    color: black;
}
span.bottom-left {
    width: 100% ;
    display: inline-block ;
    position: absolute ;
    bottom: 10%;
    left: 10%;
    text-align: center ;
    transform: translate(-50%, -50%);
    font-size: 40px ;
    border:2px solid blue;
    color: green ;
}
#mainCarrousel img {
  /* height: calc(50vh - 100px); */
    width: 100% ;
    height: 100% ;
    object-fit: contain;
  }
  /* */
ul.slick-dots {
    position: relative;
}
.slick-dots li {
    display: none !important ;
}
/*
.slick-track {
    display: flex !important;
    overflow: hidden !important;
    min-width: 0px !important ;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    display: flex !important;
    overflow: hidden !important;
}
*/
/*
.stages__dots {
    margin: 19px 0 0;
}
.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #CFCFCF;
    margin: 0 13px;
  }
  .slick-dots li.slick-active {
    border-color: #ffc500;
    background-color: #ffc500;
  }
  */
/* */
i.slick-prev2 {
    left: 42%;
    /* bottom: -25% !important ; */
}
i.slick-next2 {
    right: 42%;
}
/*  */
i.slick-arrow2 {
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 20px ;
    font-size: 13px;
    line-height: 35px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    bottom: -25% !important;
    width: 70px;
    text-align: center;
}
i.slick-arrow2:hover {
    background: #2dc997;
    font-weight: bolder;
}
/*  */
@media (max-width: 768px) {
    i.slick-prev2 {
        content: '←' ;
        left: 27% ;
    }
    i.slick-next2 {
        content: '→' ;
        right: 27% ;
    }
  }
/*  */
.sweet-loading {
    top: 25% !important;
    left:25% !important;
    position:absolute;
}
.simple-loader {
	position: absolute;
	left: 35%;
	top: 35%;
	border: 16px solid #f3f3f3 ;
	border-top: 16px solid #3498db ;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
  }
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
.bigger-loader{
	position: absolute;
	border: 30px solid #f3f3f3 ;
	border-top: 30px solid #3498db ;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	animation: spin 1s linear infinite;
}
.botonDesabilitado {
	opacity: 0.25;
	cursor: not-allowed !important;
}
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.75);
     z-index: 9999;
     color: white !important;
     display: inline-block;
 }
 div#idConsultaEnviada.info  p {
    padding-left: 0  !important;
    padding-right: 0  !important;
    margin-left: 0  !important;
    margin-right: 0  !important;
    font-size: 18px  !important;
    font-weight: bolder !important;
 }
 div#idConsultaEnviada.info p:first-child {
    margin-top: 20%;
  }
 div#idConsultaEnviada.info button:hover {
     border: 2px solid #0B3226  !important;
 }
 a.link-empresa {
     color: inherit ;
 }
 a.link-empresa:hover {
     text-decoration: underline ;
     font-weight: bold ;
     color: inherit ;
 }
/*  */
.span-expand {
    text-decoration: none ;
    padding: 2px 2px 2px 2px ;
    font-size: 20px ;
}
.span-expand:hover {
    text-decoration: none;
    border-bottom: 3px solid black;
    font-weight: bolder ;
    cursor: pointer ;
}
/*  Botones submit */
button[type="submit"] {
    background: #2dc997;
    border: 0;
    color: #fff;
    padding: 10px 24px;
    /* transition: 0.4s; */
    font-weight: bolder ;
}
button[type="submit"]:hover, button[type="submit"]:focus {
    background: #51d8ad;
    border: 0.5px solid grey ;
    padding: 9.5px 23.5px;
    outline: 0 !important;
}
button[type="submit"][disabled="disabled"]:hover, button[type="submit"][disabled="disabled"]:focus{
    border: none ;
    background: #51d8ad;
    padding: 10px 24px;
    cursor: no-drop ;
}
@media (max-width: 700px) {
    button[type="submit"], button[type="submit"]{
        width: 100% ;
    }
}
/* */
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 15px;
    right: 20px;
    margin-top: 0;
}
/*  Checkbox bootstrap */
.custom-checkbox {
    height: 30px ;
}
.checkbox label::before {
    height: 30px ;
}
#idNewsletter div.pretty {
    width: 100% !important ;
    font-size: 22px ;
}
.custom-checkbox .custom-control-input {
    height: 30px !important;
    width: 30px !important ;
    padding: 30px 30px 30px 30px !important;
}
.custom-checkbox .custom-control-input ~ .custom-control-label::before {
    width: 30px !important ;
    height: 30px !important ;
    padding: 30px 30px 30px 30px !important;
}
.custom-checkbox .custom-control-input ~ .custom-control-label::after {
    width: 30px !important ;
    height: 30px !important ;
    padding: 30px 30px 30px 30px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    width: 30px !important ;
    height: 30px !important ;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    width: 30px !important ;
    height: 30px !important ;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2DC997;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff ;
    background-color: #2DC997;
}
/*  */
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}
.section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
}
@media (max-width: 700px) {
    .section-header .section-description { padding-bottom: 1px; margin-bottom: 5px ; }
}
#idNewsletter .section-header .section-description {
    padding-bottom: 0;
}
#idNewsletter .section-header .section-description {
    padding-bottom: 0;
}
/*
#idNewsletter .custom-control-label::before {
    width: 2rem ;
    height: 2rem ;
}
#idNewsletter .custom-control-label::after {
    width: 2rem ;
    height: 2rem ;
}
*/
.linea-suscripcion-titulos {
    font-size: 20px !important ;
    line-height: 30px !important ;
    margin-bottom: 7px ;
    display: inline-block ;
}
@media (max-width: 700px) {
    .linea-suscripcion-titulos { width: 100% !important; text-align: center !important; font-weight: bold; }
}
.linea-suscripcion {
    font-size: 24px !important ;
    line-height: 30px !important ;
}
#idPanelPreferencias input[type=checkbox][tipodatos=flagTodos] + div label {
    font-weight: bold ;
}
@media (max-width: 700px) {
    #idPanelPreferencias div.col {
        margin-bottom: 15px ;
    }
}
#idSuscripcionEnviada {
    width: 100% ;
    font-family: "Open Sans", sans-serif;
    font-size: 24px ;
    font-weight: bold ;
    text-decoration: underline ;
    /* background-color: rgba(0, 0, 0, 0.45); */
}
button.linea-suscripcion {
    line-height: 24px !important ;
}
/* Toggle de paneles */
p[onclick], p[onclick] {
    font-size: 24px ;
}
p[onclick]:hover, p[onclick]:focus {
    /* border: 0.5px solid #51d8ad !important; */
    text-decoration: underline;
    text-decoration-color: #51d8ad;
    cursor: pointer;
}
/*  */
#waiboc-suscribe .ant-btn-lg {
    height: 45px !important ;
}
#waiboc-footer {
    background-color: #272723;
    /*padding: 30px 0 0 20px; */
    padding-top: 30px ;
    padding-bottom: 0 ;
    color: #fff;
    font-size: 20px;
}
#waiboc-footer div span.ant-typography.ant-typography-secondary {
    width: 100% ;
    display: inline-block ;
}
#waiboc-footer div a img {
    border-radius: 5px ;
    width: 35px ;
    height: 35px ;
    margin: 2px 2px 2px 15px;
}
@media(max-width: 700px){
    #waiboc-footer div a img {
        border-radius: 5px ;
        width: 35px ;
        height: 35px ;
    }
}
#waiboc-footer div a img:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
}
/*  */
#waiboc-footer a, #waiboc-footer a::before, #waiboc-footer a:active, #waiboc-footer a::after{
    color: #fff;
}
#waiboc-footer span a:hover /* , #waiboc-footer a:focus*/ {
    color: #fff;
    /*
    text-decoration: underline ;
    text-decoration-color: #51d8ad;
    */
}
#waiboc-footer a label {
    text-decoration: underline ;
    font-weight: bold ;
}
#idAreaMiembros {
    min-height: 45px ;
    padding: 0 ;
    margin: 0 ;
    color: white ;
    font-size: 18px ;
    color: #6d6e71 ;
}
#idAreaMiembros a, #idAreaMiembros span {
    color: #6d6e71 ;
}
#idAreaMiembros a:hover {
    text-decoration: none ;
    border-bottom: 1px solid #6d6e71 ;
}
/*  */
.footer-top {
    min-height: 55vh ;
}
.footer-container{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
  }
  .foot-list{
    float:left;
    width:300px;
  }
  .foot-list-title{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-decoration: underline ;
    margin-bottom:10px;
    padding:0.5em 0;
  }
  .foot-list-item{
    color:rgba(238, 238, 238, 0.8);
    font-size: 20px ;
    font-family: "Poppins", sans-serif;
    /* font-size:0.8em;
    padding:0.5em 0;
    */
  }
  .foot-list-item:hover{
    color:rgba(238, 238, 238, 1);
  }
/*  */
#idButtonEnviarConsulta {
    margin-bottom: 10px !important ;
}
/*  */
#galeria {
    background: #fff;
    padding: 0 ;
    min-height: 100vh ;
}
#galeria div.header-bg {
    width: 100% ;
    min-height: 13vh ;
    /* background-color: #272723; */
    /* background-color: rgba(52, 59, 64, 0.9) ; */
}
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}
/*  */
.img-bg-carousel {
    position: static ;
    width: 100% ;
    height: auto ;
    z-index: 0 ;
    border: 2px solid red ;
}
.carousel .slide {
    background: inherit !important;
}
.input-range__track {
    height: 1rem !important;
}
.input-range__label {
    font-size: 14px !important ;
}
.input-range__label--value {
  top: -2.8rem !important;
}
.input-range__label--min, .input-range__label--max {
    bottom: -2.4rem !important ;
}
.input-range__slider {
    width: 2rem !important ;
    height: 2rem !important;
    margin-top: -1.50rem !important ;
}
.input-range__label-container {
    left: -5% !important;
}
/*  */
.producto-corazon {
    color: #ef5777;
    position: absolute;
    top: 5px;
    /* right: 5px; */
    z-index: 9999;
}
/*  */
.imagen-articulo {
    width:500px !important;
    height:auto;
    font-size: 30px ;
}
.detalle-articulo p {
    margin:  0 !important ;
    padding: 0 !important ;
    font-size: inherit ;
    font-size: 20px ;
}
.detalle-articulo label{
    font-weight: bold ;
    margin-right: 10px !important ;
    font-size: inherit ;
}
.detalle-articulo label{
    min-width: 100px !important ;
    text-align: left !important ;
    font-size: inherit ;
}
.detalle-articulo .articulo-precio {
    font-weight: bolder ;
    color: blue ;
}
/*  */
.login-oauth-icon  {
    width: 100px !important ;
    height: auto;
}
.login-oauth-icon:hover {
    width: 120px !important ;
    border: 1px dotted green ;
    border-radius: 15px ;
    transition: all 0.3s ease-in-out;
}
.font-16-px {
    font-size: 16px !important ;
}
div.react-bootstrap-table th.sortable:hover {
    font-weight: bolder ;
    text-decoration: underline ;
}
div.react-bootstrap-table tbody tr:hover {
    background-color: #ECECEC ;
}
/*
.image-gallery {
    max-width: 300px !important ;
}
*/
/*  */
/*
.banner-anim {
    min-height: 100% !important ;
    height: 100% !important ;
}
*/
.banner-thumb-bottom .banner-anim-elem {
    height: 560px;
}
.banner-thumb-bottom .banner-anim-thumb {
    background: #999;
}
.banner-anim-elem .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.custom-arrow-thumb{
    height: 220px;
  }
  .custom-arrow-thumb .user-arrow {
    top: 50%;
    margin-top: -40px;
  }
  .custom-arrow-thumb .user-arrow .img-wrapper {
    width: 120px;
    height: 80px;
    float: left;
    position: relative;
  }
  .custom-arrow-thumb .user-arrow .img-wrapper li {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
  }
  .custom-arrow-thumb .user-arrow .arrow {
    width: 20px;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .custom-arrow-thumb .user-arrow .arrow:before,
  .custom-arrow-thumb .user-arrow .arrow:after {
    width: 2px;
    height: 15px;
    background: #fff;
    display: block;
    content: ' ';
    position: absolute;
  }
  .custom-arrow-thumb .user-arrow.next {
    right: -120px;
  }
  .custom-arrow-thumb .user-arrow.next .arrow {
    float: left;
  }
  .custom-arrow-thumb .user-arrow.next .arrow:before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    top: 28px;
    left: 10px;
  }
  .custom-arrow-thumb .user-arrow.next .arrow:after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    bottom: 27px;
    left: 10px;
  }
  .custom-arrow-thumb .user-arrow.prev {
    left: -120px;
  }
  .custom-arrow-thumb .user-arrow.prev .arrow {
    float: right;
  }
  .custom-arrow-thumb .user-arrow.prev .arrow:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: 28px;
    left: 8px;
  }
  .custom-arrow-thumb .user-arrow.prev .arrow:after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    bottom: 27px;
    left: 8px;
  }
  .custom-arrow-thumb .user-thumb {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    height: 40px;
  }
  .custom-arrow-thumb .user-thumb > span {
    width: 50px;
    height: 30px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: background .3s;
            transition: background .3s;
    background: transparent;
  }
  .custom-arrow-thumb .user-thumb > span.active {
    background: rgba(255, 255, 255, 0.45);
  }
  .custom-arrow-thumb .user-thumb > span i {
    display: block;
    width: 46px;
    height: 26px;
    margin: 2px;
    background-size: cover;
    background-position: center;
  }
/*  */
/*
#waiboc-main-node .ant-btn:not([disabled]) {
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s !important;
    border: 0.5px solid #001DFF !important ;
}
*/
#waiboc-id-edit-chatbot {
    background-color: var(--background-dashboard-edit) ;
}
/*
#waiboc-id-edit-chatbot div.ant-tabs-tabpane {
    padding-top: 30px ;
}
*/
#waiboc-main-node .ant-btn.btn-edit-menu {
	height: 50px !important ;
	font-size: 18px !important ;
	font-weight: 500 !important ;
	background-color: #4178BE !important ;
    margin-left: 5px !important ;
    /* transition: all 1s ease-in-out ; */
    transition: box-shadow 0.6s !important ;
}
#waiboc-main-node .ant-btn.btn-edit-menu:hover {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ant-notification {
    z-index: 9999 !important ;
}
/*
#waiboc-main-node .ant-tabs-nav-container {
    height: 70px ;
    padding-top: 5px ;
}
#waiboc-main-node .ant-tabs-nav-container .ant-tabs-tab span {
    font-size: 20px !important ;
    line-height: 50px ;
    height: 50px ;
}
#waiboc-main-node .ant-tabs-bar ,
*/
#waiboc-main-node .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab
{
    /* height: 60px ; */
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
}
#waiboc-main-node .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:not(.ant-tabs-tab-active) {
    border-bottom: 1px solid var(--font-color-important) ;
}
#waiboc-main-node .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    background-color: var(--background-dashboard-edit) ;
    border-left: 1px solid var(--font-color-important) ;
    border-top: 1px solid var(--font-color-important) ;
    border-right: 1px solid var(--font-color-important) ;
    border-bottom: 1px solid var(--background-dashboard-edit) !important ;
}
#waiboc-main-node .ant-tabs-bar {
    border-bottom: 1px solid var(--font-color-important) ;
}
/*
#waiboc-main-node .ant-tabs .ant-tabs-top-content, .ant-tabs .ant-tabs-bottom-content {
    padding-top: 20px ;
}
*/
/*
#waiboc-main-node span{
    font-size: 18px  ;
}
*/
#waiboc-main-node span.emoji,  .waiboc-drawer span.emoji {
    position: relative !important ;
    margin-left: 5px !important ;
    /* font-size: 25px !important ; */
    font-size: inherit !important ;
    cursor: pointer !important ;
    vertical-align: top !important ;
    display: inline-block ;
    height: 45px ;
    line-height: 40px ;
}
#waiboc-main-node .emoji-mart-emoji, #waiboc-main-node .emoji-mart-category .emoji-mart-emoji span  {
    cursor: pointer !important ;
}
#waiboc-main-node form div.ant-form-item-label span {
    font-size: 22px !important ;
    font-weight: 600 !important ;
}
#waiboc-main-node .ant-back-top {
    z-index: 9995 !important ;
    bottom: 100px;
}
#waiboc-main-node .ant-back-top-inner {
    z-index: 9995 !important ;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
/*  */
#waiboc-main-node .has-success.has-feedback .ant-form-item-children-icon svg, .has-warning.has-feedback .ant-form-item-children-icon svg, .has-error.has-feedback .ant-form-item-children-icon svg, .is-validating.has-feedback .ant-form-item-children-icon svg {
    margin-left: 35px !important ;
}
/*
#waiboc-main-node i.anticon, .waiboc-cl-form i.anticon{
    margin-left: 15px !important ;
    font-size: 18px !important ;
}
*/
.waiboc-form-label {
    font-weight: 500 ;
    font-size: 18px ;
}
.waiboc-cl-form .emoji-mart-category .emoji-mart-emoji span:hover {
    cursor:  pointer !important ;
}
.waiboc-cl-form .ant-input, .waiboc-cl-form .ant-input-lg {
    font-size: 20px !important ;
}
.waiboc-cl-form .ant-input-lg {
    line-height: 35px !important ;
}
.waiboc-cl-form #intentName {
    font-weight: 600 !important ;
}
.waiboc-cl-form #botName  { /* .waiboc-cl-name input.ant-input.ant-input-lg { */
    font-weight: 600 !important ;
    font-size: 20px !important ;
    color: rgb(73, 126, 192) ;
}
.waiboc-cl-input-with-emoticon .ant-input-lg {
    padding-left: 50px !important ;
}
span.waiboc-span-emoticon {
    font-size: 25px !important ;
}
span.waiboc-span-emoticon:hover {
    cursor: pointer !important ;
}
.waiboc-cl-modal-intent .ant-modal-header {
    background-color: #E0E6E5 !important ;
    border: 1px dotted grey !important ;
}
.waiboc-cl-form .ant-form-item-label i.anticon.anticon-question-circle-o {
    margin-left: 8px !important ;
    font-size: 18px !important ;
}
#waiboc-main-node .ant-select-selection-selected-value ,.waiboc-cl-form .ant-select-selection-selected-value {
    font-size: 18px !important ;
    font-weight: 600 !important ;
}
#waiboc-main-node i.anticon.anticon-check-circle, .waiboc-cl-form i.anticon.anticon-check-circle {
    margin-left: 5px !important ;
}
#waiboc-main-node .ant-form-item-label span,.waiboc-cl-form .ant-form-item-label > label, #waiboc-main-node .ant-form-item-label div {
    font-size: 20px !important ;
    font-weight: 500 !important ;
    white-space: normal !important ;
    text-align: left !important ;
    display: inline-block !important ;
}
/*  */
#waiboc-main-node .ant-btn-dashed {
    border-width: 2px !important ;
}
#waiboc-main-node .ant-row .ant-form-item, .waiboc-cl-form .ant-row .ant-form-item{
    margin-bottom: 5px !important ;
}
.waiboc-uploader-avatar {
    border: 1px dotted gray ;
    font-size: 18px ;
    cursor: pointer ;
    text-align: center ;
    padding: 5px ;
}
/*
.waiboc-uploader-avatar i {
    font-size: 18px ;
}
*/
.waiboc-cl-form .anticon-plus-circle {
    color: var(--font-color-important) ;
}
.waiboc-cl-form .dynamic-delete-button {
    cursor: pointer ;
    line-height: 40px;
    vertical-align: middle;
    color: red ;
}
.waiboc-cl-form .ant-collapse-header span {
    font-size: 20px ;
    line-height: 22px ;
    font-weight: 500 ;
}
.waiboc-cl-form .ant-collapse-item .ant-collapse-content {
    padding-left: 20px ;
    padding-right: 20px ;
}
.waiboc-cl-form .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    background-color: #e2e1e1;
    border-radius: 5px;
    padding: 3px;
    transition: box-shadow 0.5s;
}
.waiboc-cl-form .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow:hover {
    box-shadow: 0 0 5px #515151 !important ;
}
.waiboc-cl-form .ant-form-item-children .anticon-minus-circle-o, .waiboc-cl-form .dynamic-delete-button {
    margin-left: 2px !important ;
    font-size: 20px ;
}
.waiboc-cl-form i.dynamic-delete-button, .waiboc-cl-form .ant-form-item-children i.anticon-check-circle {
    font-size: 20px ;
}
/*  */
#waiboc-main-node .fadeOut{
    opacity:0;
    /*
    width:0;
    height:0;
    */
    transition: width 5.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
#waiboc-main-node .fadeIn{
    opacity:1;
    /* width:100%; */
    height:100%;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s ;
}
/*  */
#waiboc-main-node .fadeEmojiOut{
    opacity: 0.8 !important ;
    transition: width 5.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
#waiboc-main-node .fadeEmojiIn {
    opacity: 1 !important ;
    width: 110% !important ;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s ;
}
.waiboc-emoji-wrapper {
    position: absolute ;
    z-index: 99999 ;
    display: block ;
    visibility: visible;
    opacity:1;
    transition: visibility 1.5s, opacity 1.5s ease-in ;
}
.waiboc-emoji-wrapper .emoji-mart {
    display: block ;
    visibility: visible;
    opacity:1;
    transition: visibility 1.5s, opacity 1.5s ease-in ;
    /* transition: all 2.15s ease-in; */
}
/*
.waiboc-emoji-wrapper .emoji-mart {
    display: none ;visibility: hidden;
}
*/
#waiboc-main-node .btn-continuar {
    border: 1px dashed grey ;
    border-radius: 25px ;
    color: black ;
    width: 200px ;
    font-size:  24px ;
    line-height: 32px ;
    position: absolute ;
    z-index: 100 !important ;
    padding: 10px 20px 10px 20px ;
    pointer-events: auto;
}
#waiboc-main-node .btn-continuar:hover, .btn-continuar div:hover, .btn-continuar span:hover,
#waiboc-main-node .btn-continuar:focus, .btn-continuar div:focus, .btn-continuar span:focus {
    z-index: 9999 !important;
    cursor: pointer !important ;
    border-bottom: 0.5px dotted grey !important ;
    pointer-events: auto;
}
.waiboc-close-icon {
    cursor: pointer !important ;
    z-index: 9999 !important ;
    font-size: 38px !important;
    font-weight: 600 !important ;
    color: #002DFF !important ;
    box-shadow: 0 !important ;
    transition: box-shadow 0.5s !important ;
}
.waiboc-close-icon:hover {
    cursor: pointer !important ;
    box-shadow: 0 0 5px #515151 !important ;
}
/*
#waiboc-main-node .ant-tabs-tab-prev-icon-target, #waiboc-main-node .ant-tabs-tab-next-icon-target  {
    font-size: 20px !important ;
}
#waiboc-main-node .ant-tabs-tab-prev-icon {
    left: 30% !important ;
}
#waiboc-main-node .ant-tabs-tab-next-icon {
    left: 10% !important ;
}
#waiboc-main-node .ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters > .ant-table-column-title {
    text-align: center !important ;
}
#waiboc-main-node .ant-table-thead > tr > th {
    padding-top: 5px !important ;
    padding-bottom: 5px !important ;
}
#waiboc-main-node .ant-table-bordered .ant-table-tbody > tr > td {
    font-weight: 500 !important ;
    font-size: 14px !important ;
}
*/
/*  */
#waiboc-account .ant-menu-item .anticon + span {
    font-weight: 600 !important ;
    font-size: 20px !important ;
}
#waiboc-account .ant-menu-item-selected {
    /* background-color: inherit !important ; */
    text-decoration: underline !important ;
}
#waiboc-account .ant-menu-item-selected span:hover {
    text-decoration: underline !important ;
}
#waiboc-account .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    color:#002DFF !important;
    font-size: 25px !important;
    /* background-color:white !important; */
    padding: 5px 5px 5px 5px !important;
}
.waiboc-tab-edit-opt a {
    font-weight: 500 ;
    font-size: 18px ;
    color: #497EC0 ;
    display: block ;
    width: 100% ;
}
.waiboc-tab-list-item {
    width: 100% ;
    display: block ;
    font-size: 14px ;
}
.waiboc-tab-id-name {
    cursor: pointer ;
    padding-left: 5px ;
    width: 100% ;
    font-weight: 600 ;
    font-size: 20px ;
    color: #497EC0 ;
    display: block ;
    height: 22px ;
}
.waiboc-tab-answer-example {
    cursor: pointer ;
    border-bottom: 0.5px dotted grey ;
    font-size: 22px !important ;
    font-weight: 500 ;
}
/*   */
#idFormContacto .ant-form-item-label label {
    font-size: 20px !important ;
    font-weight: 600 !important ;
}
/*   */
.waiboc-drawer h2.ant-typography {
    width: 100% ;
    text-align: center ;
    font-size: 20px ;
    line-height: 40px ;
    height: 40px ;
    font-weight: 600 ;
    padding: 0 ;
    /* color: var(--font-color-important) ; */
}
.waiboc-drawer h2 i.anticon {
    color: var(--font-color-important) ;
    font-size: 16px ;
}
.waiboc-drawer ul.ant-menu {
    /* border: 0.1px solid #1890FF !important ; */
    border-radius: 3px ;
    padding: 5px 5px 5px 5px ;
    margin-top: 5px ;
    box-shadow: 0 0 5px #515151 !important ;
}
.waiboc-drawer ul.ant-menu.menu-header-mobile li.ant-menu-item {
    height: 40px !important ;
    font-size: 20px !important ;
    font-weight: 600 !important ;
    /* text-align: center !important ; */
    text-align: left !important ;
    width: 80% !important ;
    padding-left: 10% !important ;
    z-index: 99999 !important ;
}
.waiboc-drawer ul.ant-menu.menu-header-mobile li.ant-menu-item.btn-login {
    height: 60px !important ;
}
.waiboc-drawer ul.ant-menu.menu-header-mobile li.ant-menu-item > div:hover {
    text-decoration: underline !important ;
    background-color: #1890FF  !important ;
}
/*  */
.bg-inicial {
    background-color: yellow ;
    width: 100% !important ;
    height: 200px !important ;
    overflow: hidden ;
    /*
    background: linear-gradient(to bottom left,transparent 49.8%,#E0E6E5 50%) top /100% 35%,
                linear-gradient(to top left,transparent 49.8%,#E0E6E5 50%) bottom/100% 35%,
                linear-gradient(#E0E6E5,#E0E6E5) center/100% 30%;
    background-repeat: repeat, repeat, repeat;
    background-repeat: no-repeat;
    */
    background: rgb(130,150,244);
    background: linear-gradient(0deg, rgba(130,150,244,1) 0%, rgba(254,254,254,1) 81%);
  }
  .bg-azul {
    background-color: yellow ;
    width: 100% !important ;
    height: 100% !important ;
    overflow: hidden ;
    background:
      linear-gradient(to bottom right,transparent 50.8%,#EBF2FE 50%) top /100% 150%,
      linear-gradient(to top right,transparent 15%,#EBF2FE 15%) bottom/110% 60%;
    background-repeat: repeat, repeat, repeat ;
    background-repeat: no-repeat ;
  }
  /*
  @font-face { font-family: roboto-regular;
    src: url('../font/Lalezar/Lalezar-Regular.ttf');
  }
  @font-face { font-family: sans-serif ;
    src: url('../font/Viga/Viga-Regular.ttf') ;
  }
  */
  /*
  @font-face { font-family: sans-serif ;
    src: url('../font/Concert_One/ConcertOne-Regular.ttf') ;
  }
  /
  .chat-line-home {
    /* font-family: 'Lalezar', cursive !important ; */
    /* font-family: 'Viga', sans-serif !important ; */
    /* font-family: 'Concert One', cursive !important ; */
.chat-line-home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    font-Size: 40px !important ;
    font-Weight: 700 ;
    color: blue ;
    letter-spacing: 0.015rem;
    /* background: #49B6F9 ; */
    background-color: transparent ;
    border-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border-bottom-right-radius: 0;
    text-align: left;
    display: block;
    height: 60px ;
    line-height: 45px ;
    padding: 3px 3px 3px 3px ;
}
span.chat-line-home.title {
    margin-top: 50px !important ;
    font-size: 60px !important ;
    line-height: 65px !important ;
    height: 180px !important;
    text-align: center ;
}
span.chat-line-home.sub-title {
    font-size: 20px !important ;
    line-height: 28px !important ;
    /* color: rgb(92, 89, 89)153, 149, 149) ; */
    color: #5E5959 ;
}
/*   */
@media (max-width: 700px) {
    /*  */
    header .logo {
        width: 170px ;
        height: auto ;
        margin-left: 20px ;
        margin-top: 1px;
    }
    header i.anticon.anticon-menu.nav-phone-icon {
        float: right ;
        margin-right: 15px ;
        margin-top: 15px ;
        border: 1px solid gray ;
        padding: 2.5px 2.5px 2.5px 2.5px ;
    }
    /*
    #waiboc-id-edit-chatbot div.ant-tabs-tabpane {
        padding-top: 5px ;
    }
    */
    .chat-line-home {
        font-Size: 18px ;
        font-Weight: 500 ;
        /* padding: 5px 10px 5px 10px ; */
        /*
        padding-left: 10px ;
        padding-top: 10px ;
        padding-bottom: 10px ;
        */
        height: 60px ;
        line-height: 25px ;
        vertical-align: middle ;
    }
    #waiboc-main-node i.ant-tabs-tab-prev-icon-target, #waiboc-main-node  i.ant-tabs-tab-next-icon-target {
        font-size: 22px ;
        font-weight: 600 ;
    }
    span.chat-line-home.title {
        margin-top: 20px !important ;
        font-size: 50px !important ;
        line-height: 55px !important ;
        height: 140px !important;
        text-align: center !important ;
    }
    span.chat-line-home.sub-title {
        font-size: 22px !important ;
        line-height: 26px !important ;
        text-align: center !important ;
    }
    .waiboc-home-row-actions {
        text-align: center !important ;
        padding-top: 5px ;
    }
    .waiboc-home-row-actions button {
        border: 1px solid red;
        width: 100% !important ;
        text-align: center !important ;
    }
    .waiboc-home-whyus {
        min-height: 100vh ;
        padding-top: 0px ;
    }
    .waiboc-home-prices .plan-price {
        font-size: 25px ;
        font-weight: 400 ;
        text-align: center ;
        vertical-align: middle ;
    }
    .waiboc-home-web-dev {
        padding-top: 30px ;
    }
    .box-plan .waiboc-plan-description {
        padding-left: 10px ;
        display: inline-block ;
        font-size: 18px ;
        line-height: 20px ;
        vertical-align: left ;
    }
    /*  */
}
/*   */