/*  */
.bg-inicial {
  background-color: yellow ;
  width: 100% !important ;
  height: 200px !important ;
  overflow: hidden ;
  background: linear-gradient(to bottom left,transparent 49.8%,#E0E6E5 50%) top /100% 35%,
              linear-gradient(to top left,transparent 49.8%,#E0E6E5 50%) bottom/100% 35%,
              linear-gradient(#E0E6E5,#E0E6E5) center/100% 30%;
  background-repeat: repeat, repeat, repeat;
  background-repeat: no-repeat;
}
.bg-azul {
  background-color: yellow ;
  width: 100% !important ;
  height: 100% !important ;
  overflow: hidden ;
  background:
    linear-gradient(to bottom right,transparent 50.8%,#EBF2FE 50%) top /100% 150%,
    linear-gradient(to top right,transparent 15%,#EBF2FE 15%) bottom/110% 60%;
  background-repeat: repeat, repeat, repeat ;
  background-repeat: no-repeat ;
}
/*  */
.bg-inicial-BORRAR {
  -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  float: right;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: yellow ;
  width: 25% !important ;
  height: 200px !important ;
}
.chat-line-home-BORRAR {
  font-Size: 22px ;
  border-Radius: 25px ;
  color: white ;
  font-Weight: 600 ;
  background-Color: #49B6F9 ;
  padding: 10px 10px 10px 10px ;
}
.chat-line-home {
  font-Size: 22px ;
  font-Weight: 600 ;
  color: #fff;
  letter-spacing: 0.015rem;
  /* line-height: 1.3125rem; */
  background: #49B6F9 ;
  border-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  padding: 10px 10px 10px 10px ;
}
@media screen and (max-width: 400px) and (min-width: 10px) {
  .chat-line-home { font-Size: 18px !important ; font-Weight: 500 !important ; padding: 5px 10px 5px 10px !important ;  /* width: 80% ; */ }
}