/*
*
*/
a:hover {
    text-decoration: none ;
    border-bottom: 0.5px dotted grey ;
}
/*  */
.btn-link {
    color: rgba(0, 0, 0, 0.85) !important ;
}
.btn-link:hover {
    text-decoration: none ;
    border-bottom: 1px dotted gray !important ;
}
/*  */
#idCuerpoDistribuidores div.banner-anim-arrow.banner-anim-arrow-default {
    display: none !important ;
}
/*  */
#idContainer404 {
    padding: 0 ;
    color: white ;
}
#idContainer404 img {
    width: 100% !important ;
}
#idContainer404 span.mensaje {
    background: rgba(204, 204, 204, 0.6) none repeat scroll 0% 0%;
    font-family: "Poppins", sans-serif ;
    text-align: center ;
    color: black ;
    left: 0;
    top: 45%;
    font-size: 48px ;
    position: absolute ;
    font-weight: bold ;
    width: 100% !important;
}
@media (max-width: 700px) {
    #idContainer404 img          { margin-top: 35%;}
    #idContainer404 span.mensaje {font-size: 24px;}
}
/*  */
#portfolio {
    background: #f7f7f7;
    padding: 30px 0;
    min-height: 86vh;
}
@media (max-width: 700px) {
    #portfolio {padding-top: 5px;}
}
#portfolio #portfolio-wrapper {
    /* padding-right: 15px; */
    min-height: 50vh ;
}
#portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}
@media (max-width: 700px) {
    #portfolio #portfolio-flters {margin-bottom: 15px;}
}
#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    background: #2dc997;
    color: #fff;
}
  #portfolio .portfolio-item {
    position: relative;
    height: 200px;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    transform: scale(1);
  }
  #portfolio .portfolio-item a {
    display: block;
    margin-right: 15px;
  }
  #portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  /*  */
  #portfolio .portfolio-item .details {
    height: 50px;
    background: #2dc997;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -50px;
    transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .portfolio-item-desc {
    height: 50px;
    background: #2dc997;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -50px;
    transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #portfolio .portfolio-item .details h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 8px 0 2px 8px;
    margin: 0;
  }
  #portfolio .portfolio-item .details span {
    display: block;
    color: #fff;
    font-size: 13px;
    padding-left: 8px;
  }
  #portfolio .portfolio-item:hover .details {
    bottom: 0;
  }
  #portfolio .portfolio-item:hover img {
    top: -30px;
  }
@media(max-width: 400px){
    #portfolio .portfolio-item img {
        top: 0px;
    }
    #portfolio .slick-current .portfolio-item .details {
        bottom: 0;
        font-weight: bold ;
        transition: all 950ms cubic-bezier(0.645, 0.045, 0.355, 1);
        /*
        opacity: 0.5 ;
        transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
        */
    }
    #portfolio .portfolio-item .details:hover {
        /* text-decoration: underline ; */
        cursor: pointer ;
        opacity: unset ;
        font-weight: bolder ;
    }
}
/*   */
#dondeEstamos {
    background: #f7f7f7;
    padding: 80px 0 40px 0;
    min-height: 90vh ;
}
.sli    ck-active button{
    background: red;
  }
/*  Suscripcion a novedades */
#idNewsletter {
    /* background: #f7f7f7; */
    background: #fff;
    padding: 0 ;
    min-height: 100% ;
}
#idNewsletter #idSuscripcion {
    min-height: 80vh ;
}
/*
#idNewsletter #idSuscripcion form {
    background: #f7f7f7;
    padding: 35px 15px 15px 15px ;
    border: 1px solid grey ;
}
*/
@media(min-width: 700px){
    #idNewsletter #idSuscripcion form {
        min-height: 70vh ;
    }
}
/*   */
/*  
  .slick-active + .slick-active {
    background: blue;
  }
  
  .slick-active + .slick-active + .slick-active {
    background: yellow;
  }
  */
#portfolio a.link-producto-widget img {
    /*
    border-left: 2px solid grey ;
    border-right: 2px solid grey ;
    border-top: 2px solid grey ;
    */
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* */
    position: relative;
    top: 0;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 300px !important;
    height: auto !important;
}
/*
#portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 200px !important;
    height: auto !important;
}
*/
/*
*
*/
.sans-serif {
    color: #666666 !important;
    font-family: "Open Sans", sans-serif !important;
}
#id404gif {
    width: 100% ;
    text-align: center ;
    align-content: center ;
}
#id404gif div.center2img {
    display: flex ;
    justify-content: center;
    align-items: center;
}
#id404gif img {
    height: 498px;
    width: 480px;
    position: relative ;
}
#id404gif img.center {
    display: block;
    margin: 0 auto;
}
#id404gif p {
    text-align: center ;
    font-size: 40px ;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration-line: none ;
    /* text-transform: uppercase; */
}
#id404gif p span {
    position: relative ;
}
/* */
body {
    background-color: cadetblue ;
}
#mainCarrousel {
    position: relative;
    margin: 0 auto;
    width: 58%;
}
#mainCarrousel div.gfg {
    display: block;
    width:auto;
    text-align:center;
    padding:20px;
    text-align: center ;
    color: black;
}
span.bottom-left {
    width: 100% ;
    display: inline-block ;
    position: absolute ;
    bottom: 10%;
    left: 10%;
    text-align: center ;
    transform: translate(-50%, -50%);
    font-size: 40px ;
    border:2px solid blue;
    color: green ;
}
#mainCarrousel img {
  /* height: calc(50vh - 100px); */
    width: 100% ;
    height: 100% ;
    object-fit: contain;
  }
  /* */
ul.slick-dots {
    position: relative;
}
.slick-dots li {
    display: none !important ;
}
/*
.slick-track {
    display: flex !important;
    overflow: hidden !important;
    min-width: 0px !important ;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    display: flex !important;
    overflow: hidden !important;
}
*/
/*
.stages__dots {
    margin: 19px 0 0;
}
.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #CFCFCF;
    margin: 0 13px;
  }
  .slick-dots li.slick-active {
    border-color: #ffc500;
    background-color: #ffc500;
  }
  */
/* */
i.slick-prev2 {
    left: 42%;
    /* bottom: -25% !important ; */
}
i.slick-next2 {
    right: 42%;
}
/*  */
i.slick-arrow2 {
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 20px ;
    font-size: 13px;
    line-height: 35px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    bottom: -25% !important;
    width: 70px;
    text-align: center;
}
i.slick-arrow2:hover {
    background: #2dc997;
    font-weight: bolder;
}
/*  */
@media (max-width: 768px) {
    i.slick-prev2 {
        content: '←' ;
        left: 27% ;
    }
    i.slick-next2 {
        content: '→' ;
        right: 27% ;
    }
  }
/*  */
.sweet-loading {
    top: 25% !important;
    left:25% !important;
    position:absolute;
}
.simple-loader {
	position: absolute;
	left: 35%;
	top: 35%;
	border: 16px solid #f3f3f3 ;
	border-top: 16px solid #3498db ;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
  }
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
.bigger-loader{
	position: absolute;
	border: 30px solid #f3f3f3 ;
	border-top: 30px solid #3498db ;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	animation: spin 1s linear infinite;
}
.botonDesabilitado {
	opacity: 0.25;
	cursor: not-allowed !important;
}
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.75);
     z-index: 9999;
     color: white !important;
     display: inline-block;
 }
 div#idConsultaEnviada.info  p {
    padding-left: 0  !important;
    padding-right: 0  !important;
    margin-left: 0  !important;
    margin-right: 0  !important;
    font-size: 18px  !important;
    font-weight: bolder !important;
 }
 div#idConsultaEnviada.info p:first-child {
    margin-top: 20%;
  }
 div#idConsultaEnviada.info button:hover {
     border: 2px solid #0B3226  !important;
 }
 a.link-empresa {
     color: inherit ;
 }
 a.link-empresa:hover {
     text-decoration: underline ;
     font-weight: bold ;
     color: inherit ;
 }
/*  */
#porfolio .portfolio-categoria {
    width: 100% !important ;
    position: relative ;
    display: inline-block ;
}
#portfolio .portfolio-item2 {
    position: relative;
    float: left;
    display: inline-block ;
    height: 200px;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    transform: scale(1);
}
/*
#portfolio-wrapper {
    visibility: hidden;
}
#portfolio-wrapper.slick-initialized {
    visibility: visible;
}
*/
.span-expand {
    text-decoration: none ;
    padding: 2px 2px 2px 2px ;
    font-size: 20px ;
}
.span-expand:hover {
    text-decoration: none;
    border-bottom: 3px solid black;
    font-weight: bolder ;
    cursor: pointer ;
}
/*  Botones submit */
button[type="submit"] {
    background: #2dc997;
    border: 0;
    color: #fff;
    padding: 10px 24px;
    /* transition: 0.4s; */
    font-weight: bolder ;
}
button[type="submit"]:hover, button[type="submit"]:focus {
    background: #51d8ad;
    border: 0.5px solid grey ;
    padding: 9.5px 23.5px;
    outline: 0 !important;
}
button[type="submit"][disabled="disabled"]:hover, button[type="submit"][disabled="disabled"]:focus{
    border: none ;
    background: #51d8ad;
    padding: 10px 24px;
    cursor: no-drop ;
}
@media (max-width: 700px) {
    button[type="submit"], button[type="submit"]{
        width: 100% ;
    }
}
/* */
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 15px;
    right: 20px;
    margin-top: 0;
}
/*  Checkbox bootstrap */
.custom-checkbox {
    height: 30px ;
}
.checkbox label::before {
    height: 30px ;
}
#idNewsletter div.pretty {
    width: 100% !important ;
    font-size: 22px ;
}
.custom-checkbox .custom-control-input {
    height: 30px !important;
    width: 30px !important ;
    padding: 30px 30px 30px 30px !important;
}
.custom-checkbox .custom-control-input ~ .custom-control-label::before {
    width: 30px !important ;
    height: 30px !important ;
    padding: 30px 30px 30px 30px !important;
}
.custom-checkbox .custom-control-input ~ .custom-control-label::after {
    width: 30px !important ;
    height: 30px !important ;
    padding: 30px 30px 30px 30px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    width: 30px !important ;
    height: 30px !important ;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    width: 30px !important ;
    height: 30px !important ;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2DC997;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff ;
    background-color: #2DC997;
}
/*  */
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}
.section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
}
@media (max-width: 700px) {
    .section-header .section-description { padding-bottom: 1px; margin-bottom: 5px ; }
}
#idNewsletter .section-header .section-description {
    padding-bottom: 0;
}
#idNewsletter .section-header .section-description {
    padding-bottom: 0;
}
/*
#idNewsletter .custom-control-label::before {
    width: 2rem ;
    height: 2rem ;
}
#idNewsletter .custom-control-label::after {
    width: 2rem ;
    height: 2rem ;
}
*/
.linea-suscripcion-titulos {
    font-size: 20px !important ;
    line-height: 30px !important ;
    margin-bottom: 7px ;
    display: inline-block ;
}
@media (max-width: 700px) {
    .linea-suscripcion-titulos { width: 100% !important; text-align: center !important; font-weight: bold; }
}
.linea-suscripcion {
    font-size: 24px !important ;
    line-height: 30px !important ;
}
#idPanelPreferencias input[type=checkbox][tipodatos=flagTodos] + div label {
    font-weight: bold ;
}
@media (max-width: 700px) {
    #idPanelPreferencias div.col {
        margin-bottom: 15px ;
    }
}
#idSuscripcionEnviada {
    width: 100% ;
    font-family: "Open Sans", sans-serif;
    font-size: 24px ;
    font-weight: bold ;
    text-decoration: underline ;
    /* background-color: rgba(0, 0, 0, 0.45); */
}
button.linea-suscripcion {
    line-height: 24px !important ;
}
/* Toggle de paneles */
p[onclick], p[onclick] {
    font-size: 24px ;
}
p[onclick]:hover, p[onclick]:focus {
    /* border: 0.5px solid #51d8ad !important; */
    text-decoration: underline;
    text-decoration-color: #51d8ad;
    cursor: pointer;
}
/*  */
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background-color: #272723;
    /*padding: 30px 0 0 20px; */
    padding-top: 30px ;
    padding-bottom: 0 ;
    color: #fff;
    font-size: 20px;
}
#footer div span {
    width: 100% ;
    display: inline-block ;
}
#footer div a img {
    border-radius: 5px ;
    width: 35px ;
    height: 35px ;
    margin: 2px 2px 2px 15px;
}
@media(max-width: 700px){
    #footer div a img {
        border-radius: 5px ;
        width: 35px ;
        height: 35px ;
    }
}
#footer div a img:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
}
/*  */
#footer a, #footer a::before, #footer a:active, #footer a::after{
    color: #fff;
}
#footer span a:hover /* , #footer a:focus*/ {
    color: #fff;
    /*
    text-decoration: underline ;
    text-decoration-color: #51d8ad;
    */
}
#footer a label {
    text-decoration: underline ;
    font-weight: bold ;
}
#idAreaMiembros {
    min-height: 45px ;
    padding: 0 ;
    margin: 0 ;
    color: white ;
    font-size: 18px ;
    color: #6d6e71 ;
}
#idAreaMiembros a, #idAreaMiembros span {
    color: #6d6e71 ;
}
#idAreaMiembros a:hover {
    text-decoration: none ;
    border-bottom: 1px solid #6d6e71 ;
}
/*  */
.footer-top {
    min-height: 55vh ;
}
.footer-container{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
  }
  .foot-list{
    float:left;
    width:300px;
  }
  .foot-list-title{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-decoration: underline ;
    margin-bottom:10px;
    padding:0.5em 0;
  }
  .foot-list-item{
    color:rgba(238, 238, 238, 0.8);
    font-size: 20px ;
    font-family: "Poppins", sans-serif;
    /* font-size:0.8em;
    padding:0.5em 0;
    */
  }
  .foot-list-item:hover{
    color:rgba(238, 238, 238, 1);
  }
/*  */
#idButtonEnviarConsulta {
    margin-bottom: 10px !important ;
}
/*  */
#galeria {
    background: #fff;
    padding: 0 ;
    min-height: 100vh ;
}
#galeria div.header-bg {
    width: 100% ;
    min-height: 13vh ;
    /* background-color: #272723; */
    /* background-color: rgba(52, 59, 64, 0.9) ; */
}
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}
/*  */
.img-bg-carousel {
    position: static ;
    width: 100% ;
    height: auto ;
    z-index: 0 ;
    border: 2px solid red ;
}
.carousel .slide {
    background: inherit !important;
}
.input-range__track {
    height: 1rem !important;
}
.input-range__label {
    font-size: 14px !important ;
}
.input-range__label--value {
  top: -2.8rem !important;
}
.input-range__label--min, .input-range__label--max {
    bottom: -2.4rem !important ;
}
.input-range__slider {
    width: 2rem !important ;
    height: 2rem !important;
    margin-top: -1.50rem !important ;
}
.input-range__label-container {
    left: -5% !important;
}
/*  */
.producto-corazon {
    color: #ef5777;
    position: absolute;
    top: 5px;
    /* right: 5px; */
    z-index: 9999;
}
/*  */
.imagen-articulo {
    width:500px !important;
    height:auto;
    font-size: 30px ;
}
.detalle-articulo p {
    margin:  0 !important ;
    padding: 0 !important ;
    font-size: inherit ;
    font-size: 20px ;
}
.detalle-articulo label{
    font-weight: bold ;
    margin-right: 10px !important ;
    font-size: inherit ;
}
.detalle-articulo label{
    min-width: 100px !important ;
    text-align: left !important ;
    font-size: inherit ;
}
.detalle-articulo .articulo-precio {
    font-weight: bolder ;
    color: blue ;
}
/*  */
.login-oauth-icon  {
    width: 100px !important ;
    height: auto;
}
.login-oauth-icon:hover {
    width: 120px !important ;
    border: 1px dotted green ;
    border-radius: 15px ;
    transition: all 0.3s ease-in-out;
}
.font-16-px {
    font-size: 16px !important ;
}
div.react-bootstrap-table th.sortable:hover {
    font-weight: bolder ;
    text-decoration: underline ;
}
div.react-bootstrap-table tbody tr:hover {
    background-color: #ECECEC ;
}
/*
.image-gallery {
    max-width: 300px !important ;
}
*/
/*  */
/*
.banner-anim {
    min-height: 100% !important ;
    height: 100% !important ;
}
*/
.banner-thumb-bottom .banner-anim-elem {
    height: 560px;
}
.banner-thumb-bottom .banner-anim-thumb {
    background: #999;
}
.banner-anim-elem .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.custom-arrow-thumb{
    height: 220px;
  }
  .custom-arrow-thumb .user-arrow {
    top: 50%;
    margin-top: -40px;
  }
  .custom-arrow-thumb .user-arrow .img-wrapper {
    width: 120px;
    height: 80px;
    float: left;
    position: relative;
  }
  .custom-arrow-thumb .user-arrow .img-wrapper li {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
  }
  .custom-arrow-thumb .user-arrow .arrow {
    width: 20px;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .custom-arrow-thumb .user-arrow .arrow:before,
  .custom-arrow-thumb .user-arrow .arrow:after {
    width: 2px;
    height: 15px;
    background: #fff;
    display: block;
    content: ' ';
    position: absolute;
  }
  .custom-arrow-thumb .user-arrow.next {
    right: -120px;
  }
  .custom-arrow-thumb .user-arrow.next .arrow {
    float: left;
  }
  .custom-arrow-thumb .user-arrow.next .arrow:before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    top: 28px;
    left: 10px;
  }
  .custom-arrow-thumb .user-arrow.next .arrow:after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    bottom: 27px;
    left: 10px;
  }
  .custom-arrow-thumb .user-arrow.prev {
    left: -120px;
  }
  .custom-arrow-thumb .user-arrow.prev .arrow {
    float: right;
  }
  .custom-arrow-thumb .user-arrow.prev .arrow:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: 28px;
    left: 8px;
  }
  .custom-arrow-thumb .user-arrow.prev .arrow:after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    bottom: 27px;
    left: 8px;
  }
  .custom-arrow-thumb .user-thumb {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    height: 40px;
  }
  .custom-arrow-thumb .user-thumb > span {
    width: 50px;
    height: 30px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: background .3s;
            transition: background .3s;
    background: transparent;
  }
  .custom-arrow-thumb .user-thumb > span.active {
    background: rgba(255, 255, 255, 0.45);
  }
  .custom-arrow-thumb .user-thumb > span i {
    display: block;
    width: 46px;
    height: 26px;
    margin: 2px;
    background-size: cover;
    background-position: center;
  }
  .btn-edit-menu {
	height: 50px !important ;
	font-size: 18px !important ;
	font-weight: 600 !important ;
	background-color: #4178BE !important ;
    margin-left: 10px !important ;
    transition: all 0.3s ease-in-out;
  }
  .btn-edit-menu:hover {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.ant-notification {
    z-index: 9999 !important ;
}
/*  */
#waiboc-id-app .ant-tabs-nav-container .ant-tabs-tab span {
    font-size: 22px !important ;
}
#waiboc-id-app span{
    font-size: 18px !important ;
}
#waiboc-id-app form div.ant-form-item-label span {
    font-size: 22px !important ;
    font-weight: 600 !important ;
}
#waiboc-id-app .ant-back-top {
    z-index: 9995 !important ;
    bottom: 100px;
}
#waiboc-id-app .ant-back-top-inner {
    z-index: 9995 !important ;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
/*  */
#waiboc-id-app .has-success.has-feedback .ant-form-item-children-icon svg, .has-warning.has-feedback .ant-form-item-children-icon svg, .has-error.has-feedback .ant-form-item-children-icon svg, .is-validating.has-feedback .ant-form-item-children-icon svg {
    margin-left: 35px !important ;
}
/*
#waiboc-id-app i.anticon, .waiboc-cl-form i.anticon{
    margin-left: 15px !important ;
    font-size: 18px !important ;
}
*/
.waiboc-cl-form .ant-form-item-label i.anticon.anticon-question-circle-o {
    margin-left: 8px !important ;
    font-size: 18px !important ;
}
#waiboc-id-app i.anticon.anticon-check-circle, .waiboc-cl-form i.anticon.anticon-check-circle {
    margin-left: 5px !important ;
}
#waiboc-id-app .ant-form-item-label span,.waiboc-cl-form .ant-form-item-label > label, #waiboc-id-app .ant-form-item-label div {
    font-size: 20px !important ;
    font-weight: 500 !important ;
    white-space: normal !important ;
    text-align: left !important ;
    display: inline-block !important ;
}
/*  */
#waiboc-id-app .ant-btn-dashed {
    border-width: 2px !important ;
}
#waiboc-id-app .ant-row .ant-form-item, .waiboc-cl-form .ant-row .ant-form-item{
    margin-bottom: 5px !important ;
}
/*  */